P2P_DATA_PATH=/opt/airflow/data/raw/final_p2p_log.csv
TRANS_DATA_PATH=/opt/airflow/data/raw/final_trans_log.csv
INFERENCE_P2P_PATH=/opt/airflow/data/inference/new_p2p.csv
PREDICTIONS_PATH=/opt/airflow/data/predictions/fraud_predictions.csv
